@use "../../../styles/colors";
@use "../../../styles/typography";

.button {
	@extend .title--small;
	display: inline-block;

	padding: 0.25em 1.25em;
	border-radius: 100vmax;
	border: 1px solid colors.$black;

	background-color: colors.$green;

	color: colors.$white;
}
