@use "../../styles/spacing";

.main {
	padding-block-start: 10vh;

	section {
		margin-block-end: 15vh;
	}
}

.user {
	margin-block-end: 2rem;
}

.profileImage {
	width: 75%;
	max-width: 300px;
	aspect-ratio: 1;
	margin-inline: auto;
	border-radius: 50%;
	border: 2px solid #000000;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 120px), 1fr));
	gap: spacing.$space-3 5vw;

	text-align: center;

	img {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 100vmax;
	}

	p {
		margin-top: 1em;
		font-weight: 700;
	}
}

.error {
	text-align: center;
	p {
		margin-bottom: 0.5em;
	}
}
